<footer class="footer">
  <div class="footer__contact-container"></div>
  <div class="footer__icon-container">
    <ul class="footer__list">
      <li class="footer_item">
        <a class="footer__icon-link" href="https://github.com">
          <div class="footer__icon-box">
            <svg class="footer__icon">
              <use href="./images/icon/icons.svg#icon-github" width="20px" height="20px"></use>
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a class="footer__icon-link" href="https://telegram.com">
          <div class="footer__icon-box">
            <svg class="footer__icon">
              <use href="./images/icon/icons.svg#icon-telegram" width="20px" height="20px"></use>
            </svg>
          </div>
        </a>
      </li>
      <li>
        <a class="footer__icon-link" href="https://facebook.com">
          <div class="footer__icon-box">
            <svg class="footer__icon">
              <use href="./images/icon/icons.svg#icon-facebook" width="20px" height="20px"></use>
            </svg>
          </div>
        </a>
      </li>
    </ul>
  </div>
</footer>
